<div *ngIf="show" class="modal-backdrop">
  <section class="card">
    <header class="card-header">
      <h2 class="card-title">Are you sure?</h2>
    </header>

    <div class="card-body">
      <div class="modal-wrapper">
        <form *ngIf="modalType === 'form'">
          <!-- Example: pass fields dynamically or hard-code them -->
          <div class="mb-2">
            <label>Name</label>
            <input type="text" [(ngModel)]="formData.name" name="name" class="form-control" />
          </div>
          <div class="mb-2">
            <label>Email</label>
            <input type="email" [(ngModel)]="formData.email" name="email" class="form-control" />
          </div>
          <!-- Add more form fields as needed -->
        </form>
        <!-- Confirmation content -->
        <div *ngIf="modalType === 'confirm'" class="modal-text">
          <p class="mb-0">{{ confirmationText }}</p>
        </div>

      </div>
    </div>
    <footer class="card-footer">
      <div class="row">
        <div class="col-md-12 text-end">
          <button *ngIf="modalType === 'confirm'" class="btn btn-primary modal-confirm" (click)="onConfirm()">Confirm</button>
          <button class="btn btn-secondary" (click)="onClose()">Close</button>
        </div>
      </div>
    </footer>

    <!-- Your Modal Content Here -->


  </section>
</div>
