<section class="body">

  <!-- start: header -->
  <app-header/>
  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <aside id="sidebar-left" class="sidebar-left">
      <app-sidebar/>
      <!-- end: sidebar -->
    </aside>

    <section role="main" class="content-body">
      <header class="page-header">
        <h2>Master Data User</h2>

        <div class="right-wrapper text-end">
          <ol class="breadcrumbs">
            <li>
              <a routerLink="/admin">
                <i class="bx bx-home-alt"></i>
              </a>
            </li>

            <li><span>Master</span></li>

            <li><span>Data User</span></li>

          </ol>

          <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
        </div>
      </header>

      <!-- start: page -->

      <div class="row">
        <div class="col">
          <section class="card card-primary">
            <header class="card-header">
              <div class="row align-items-center">
                <div class="col-lg-1 text-start">
                  <select class="form-control"
                          [(ngModel)]="pageSize"
                          (change)="onPageSizeChange()">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>
                <div class="col-lg-2 d-flex align-items-center mt-3">
                  <p class="text-light">entries per page</p>
                </div>
                <div class="col-lg-6 offset-lg-3 text-end">
                  <input #searchBox
                         type="text"
                          id="search"
                          class="form-control"
                          aria-label="Search"
                          placeholder="Search"
                          (input)="onSearchChange(searchBox.value)" />
                </div>
              </div>


            </header>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-responsive-lg table-bordered table-striped table-sm mb-0">
                  <thead>
                  <tr>
                    <th class="text-center" width="5%">No.</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Role</th>
                    <th class="text-center">Open</th>
                  </tr>
                  </thead>
                  <ng-container *ngIf="totalData != 0; else noData">
                    <tbody>
                      <tr *ngFor="let user of users; let i = index">
                        <td class="text-center">{{ ((pageNumber) * pageSize) + (i + 1) }}</td>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.email }}</td>
                        <td class="text-center">{{ user.role }}</td>
                        <td class="text-center">
                          <button class="btn btn-sm btn-primary mx-1">Edit</button>
                          <button class="btn btn-sm btn-danger mx-1">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </ng-container>
                      <ng-template #noData>
                        <tr>
                          <td colspan="5" class="text-center">No Data</td>
                        </tr>
                      </ng-template>
                  <tfoot>
                  <tr>
                    <td colspan="2" class="text-start text-color-grey" style="font-size: 0.75rem;margin-left: 10px;"
                    > Total Data : {{ totalData }} row.
                    </td>
                    <td colspan="4" class="text-end">
                      <nav>
                        <ul class="pagination justify-content-end mt-3">
                          <li class="page-item" [class.disabled]="pageNumber === 0">
                            <a class="page-link" (click)="pageNumber > 0 && loadData(pageNumber-1,pageSize)"
                               style="cursor:pointer">Previous</a>
                          </li>
                          <li *ngFor="let p of getDisplayedPages(); let i = index"
                              class="page-item"
                              [class.active]="(isNumber(p) ? Number(p)-1 : null) === pageNumber">
                            <a class="page-link"
                               *ngIf="p !== '...'; else ellipsisTpl"
                               href="#"
                               (click)="isNumber(p) ? loadData(Number(p)-1,pageSize) : null; $event.preventDefault()"
                               style="cursor:pointer">{{ p }}</a>
                            <ng-template #ellipsisTpl>
                              <span class="page-link">…</span>
                            </ng-template>
                          </li>

                          <li class="page-item" [class.disabled]="pageNumber === totalPages - 1">
                            <a class="page-link" (click)="pageNumber < totalPages - 1 && loadData(pageNumber + 1,pageSize)"
                               style="cursor:pointer">Next</a>
                          </li>
                        </ul>
                      </nav>
                    </td>
                  </tr>


                  </tfoot>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- end: page -->
    </section>
  </div>
</section>
