<section class="body">

  <!-- start: header -->
  <app-header/>
  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <aside id="sidebar-left" class="sidebar-left">
      <app-sidebar />
      <!-- end: sidebar -->
    </aside>

    <section role="main" class="content-body">
      <header class="page-header">
        <h2>Master Data User</h2>

        <div class="right-wrapper text-end">
          <ol class="breadcrumbs">
            <li>
              <a routerLink="/admin">
                <i class="bx bx-home-alt"></i>
              </a>
            </li>

            <li><span>Master</span></li>

            <li><span>Data User</span></li>

          </ol>

          <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
        </div>
      </header>

      <!-- start: page -->

      <div class="row">
        <div class="col">
          <section class="card card-primary">
            <header class="card-header">

              <h2 class="card-title">Bootstrap Responsive</h2>
            </header>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-responsive-lg table-bordered table-striped table-sm mb-0">
                  <thead>
                  <tr>
                    <th class="text-center">No.</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Role</th>
                    <th class="text-center">Open</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let user of users; let i = index">
                    <td class="text-center">{{ i + 1 }}</td>
                    <td>{{ user.fullName }}</td>
                    <td >{{ user.email }}</td>
                    <td class="text-center">{{ user.role }}</td>
                    <td class="text-center">
                      <button class="btn btn-sm btn-primary mx-1">Edit</button>
                      <button class="btn btn-sm btn-danger mx-1">Delete</button>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="1" class="text-start text-color-grey" style="font-size: 0.75rem;margin-left: 10px;"
                    > Total Data : {{totalData}} row. </td>
                    <td colspan="4" class="text-end">
                      <nav>
                        <ul class="pagination justify-content-end mt-3">
                          <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                      </nav>
                    </td>
                  </tr>


                  </tfoot>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- end: page -->
    </section>
  </div>
</section>
